<app-create-game *ngIf="!gameStateStore.state.player"></app-create-game>
<app-game-list *ngIf="!gameStateStore.state.player" (joinedGame)="onGameJoined($event)"></app-game-list>
<app-play *ngIf="!gameStateStore.state.player" (playClicked)="onPlayClicked($event)"></app-play>
<app-map-view *ngIf="gameStateStore.state.player" [currentPlayer]="gameStateStore.state.player"></app-map-view>
<app-players-overview  *ngIf="gameStateStore.state.player" [gameId]="gameStateStore.state.gameId" [players]="gameStateStore.state.players"></app-players-overview>