<mat-toolbar color="primary">
    <span>Findr</span>
    <span class="example-spacer"></span>
    <app-create-game *ngIf="!gameStateStore.state.player"></app-create-game>
    <app-game-link  *ngIf="gameStateStore.state.player" [playerId]="gameStateStore.state.player.id" [gameId]="gameStateStore.state.gameId"></app-game-link>
</mat-toolbar>
<ng-container *ngIf="!gameStateStore.state.player">
    
<h2>How to play</h2>
<p>When joining an existing game, you'll have to find the other players in that session. You can do this by navigating around in the game.</p>
</ng-container>
<router-outlet></router-outlet>